# Dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Coverage directory
coverage

# Build directory
dist/

# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo